 
    <div id="myCarousel" class="carousel slide col-lg-12 bg-orange">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('/assets/bg_1_orange.jpg');"></div>
            <div class="carousel-caption">
              <h1>You own a Company</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('/assets/bg_2_orange.jpg');"></div>
            <div class="carousel-caption">
              <h1>People want to know what you do!</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('/assets/bg_3_orange.jpg');"></div>
            <div class="carousel-caption">
              <h1>Explain your work in a Web Video</h1>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="col-lg-12 panel panel-body myshadow">
              <div class="col-lg-4">
                <i class="fa fa-edit fa-5x"></i>
                <p>You write your script by using our simple 5 steps form.</p>
              </div>
              <div class="col-lg-4">
                <i class="fa fa-cogs fa-5x"></i>
                <p>Our professionals will work on your idea and start the production of your video.</p>
              </div>
              <div class="col-lg-4">
                <i class="fa fa-laptop fa-5x"></i>
                <p>Everything happens on the web easy and fast, and soon your video will be available for you.</p>
              </div> 
            </div>
            <div class="col-lg-12 panel panel-body myshadow">
              <div class="col-lg-2">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-lg-8">
                <p>Your customers will love to watch your video, and they will understand in an easy and fun way what your company does.</p>
              </div>  
            </div>       
          </div>

          <div class="col-lg-6">
            <div class="panel panel-body myshadow">
              <div>
                <iframe src="//fast.wistia.net/embed/iframe/zmnr2pdd1u?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="420" height="236"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section-colored text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Vid55 - The right way to create a video presentation!</h2>
            <p>Here you can start promoting your company with a simple and professional video presentation for an affordable price.</p>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section-colored -->

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; CZani Tech, Inc. 2013</p>
          </div>
        </div>
      </footer>
    </div><!-- /.container -->
    Teste
