<div class="col-lg-12">
	<div class="col-lg-12">
	  <h2 class="page-header">Pricing Table</h2>
	</div>

	<div class="row">
		<div class="col-sm-3">
		  <div class="panel panel-default text-center">
		    <div class="panel-heading">
		      <strong>Video and Music Sound</strong>
		    </div>
		    <div class="panel-body">
		      <h3 class="panel-title price">$199<span class="price-cents">.00</span></h3>
		    </div>
		    <ul class="list-group">
		      <li class="list-group-item">Up to 2 minutes long</li>
		      <li class="list-group-item">Add your Logo</li>
		      <li class="list-group-item"><b>X</b></li>
		      <li class="list-group-item">More than One Style to Choose</li>
		      <li class="list-group-item"><b>X</b></li>
		      <li class="list-group-item"><%= link_to 'Register Now - Decide Later', register_path, class: "btn btn-success" %></li>
		    </ul>
		  </div>          
		</div>
		<div class="col-sm-3">
		  <div class="panel panel-default text-center">
		    <div class="panel-heading">
		      <strong>Video-Music-Voice <span class="label label-success">Best Value!</span></strong>
		    </div>
		    <div class="panel-body">
		      <h3 class="panel-title price">$399<span class="price-cents">.00</span></h3>
		    </div>
		    <ul class="list-group">
		      <li class="list-group-item">Up to 2 minutes long</li>
		      <li class="list-group-item">Add your Logo</li>
		      <li class="list-group-item">Add External Images</li>
		      <li class="list-group-item">More than One Style to Choose</li>
		      <li class="list-group-item">Professional Voice-Over</li>
		      <li class="list-group-item"><%= link_to 'Register Now - Decide Later', register_path, class: "btn btn-success" %></li>
		    </ul>
		  </div>          
		</div>
		<div class="col-md-6">
			<br><br>
			<i class="fa fa-money fa-5x"></i><br>
			<h2>If you need anything more sofisticated,<br>please, feel free to contact us!</h2><br>
			<i class="fa fa-heart fa-5x"></i><br><br>
			<%= link_to "Contact Us", send_path, class: "btn btn-success" %>
		</div> 
	</div>
</div>



