<p id="notice"><%= notice %></p>

<p>
  <strong>Statusname:</strong>
  <%= @projstatus.statusname %>
</p>

<%= link_to 'Edit', edit_projstatus_path(@projstatus) %> |
<%= link_to 'Back', projstatuses_path %>
