<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">All Users</div>
  <!-- Table -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Admin</th>
        <th>Name</th>
        <th>EMail</th>
        <th><center>Action</center></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td width=10%>
            <% if u.admin? %>
              Yes
            <% end %>
          </td>
          <td width=40%>
            <% if u.company? %>
              <%= u.company %><br>
            <% end %>
            <%= u.first_name %> <%= u.last_name %></td>
          <td width=30%><%= u.email %></td>
          <td width=20% style="text-align:center" >

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
