/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-theme
 *= require modern-business
 */

.logo {
	
	color: #fbdc70 !important;
	font-size:24px !important;
}

.mtop {
	margin-top: 30px;
}

.bg-orange {
	background-color: #fbdc70 !important;
}

.font-orange {
	color: #fbdc70 !important;
}

.font-white {
	color: #ffffff !important;
}

.mybar {
	background-color: #e1e1e1;
}


.navbar {
position: relative;
z-index: 1000;
min-height: 50px;
max-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;
}

.nav > li > a {
background-image: url('/assets/texture_dark_blue1.jpg') !important;
}




