<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <br><br>
    <i class="fa fa-cloud fa-5x"></i><br>
    <h2>Aghhh... Come on...<br>We are some talented people who want to make your life easyer...</h2><br>
    <i class="fa fa-smile-o fa-5x"></i>
  </div> 
</div>
